@CHARSET "UTF-8";

.chat-container {
    border: 2px solid #dedede;
    background: rgb(211, 225, 236);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.chat-container::after {
  content: "";
  clear: both;
  display: table;
}
  
.clearfix { *zoom: 1; } 
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }

#live-chat {
  font-size: 12px;
  right: 24px;
  width: 100%;
}

#live-chat header {
  background: #293239;
  border-radius: 5px 5px 0 0;
  color: #fff;
  cursor: pointer;
  padding: 16px 24px;
}

#live-chat h4:before {
  background: #1a8a34;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  margin: 0 8px 0 0;
  width: 8px;
}

#live-chat h4 {
  font-size: 12px;
  color: rgb(199, 0, 57);
}

#live-chat h5 {
  font-size: 10px;
  color: rgb(199, 0, 57);
}

#live-chat form {
  padding: 24px;
}

#live-chat input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  outline: none;
  width: 234px;
}

.description{
 font-size: 12px;
  font-weight: bold;
}

.chat-message-counter {
  background: #e62727;
  border: 1px solid #fff;
  border-radius: 50%;
  display: none;
  font-size: 12px;
  font-weight: bold;
  height: 28px;
  left: 0;
  line-height: 28px;
  margin: -15px 0 0 -15px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 28px;
}

.chat {
  background: #fff; 
}

.chat-history {
  height: 900px;
  padding: 8px 24px;
  overflow-y: scroll;
}

.chat-message {
    border: 2px solid #dedede;
    background-color: #f4f7fa;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.chat-time {
  font-size: 12px;
  color: #6c757d;
  float: right;
}

.chat-name {
	font-size: 12px;
	float: right;
}

.chat-text { font-size: 14px;}
.chat-desc {font-size: 16px;white-space: pre;}
.chat-desc-small {font-size: 14px;white-space: pre;}

textarea {
  margin-top: 20px;
  margin-left: 0px;
  width: 100%;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}