<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<author>Seo Panel</author>
	<label>Seo Diary</label>
	<description>SEO Diary plugin used to store all seo actions and information done for a website in diary format</description>
	<version>1.0.0</version>
	<website>https://www.seopanel.in/plugin/l/116/seo-diary/</website>
</plugin>
